#social-media {
    background: url(../../images/social.jpg) no-repeat fixed left center / cover rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: #fff;
    display: block;
    width: 100%;
}

#social-media>div {
    background-color: rgba(255, 131, 5, 0.9);
    padding: 0 20px 0;
}

#tweets {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 5px 5px 0 0;
    color: #555;
    margin: 0 auto;
    max-width: 600px;
    text-align: left
}

#tweets h1 {
    padding-top: 20px;
}

#tweets article {
    border-color: rgba(0, 0, 0, 0.2);
    border-style: dashed;
    border-width: 1px 0 0 0;
    height: 120px;
}

#tweets article:first-child {
    border: none;
}

#tweets p {
    margin: 0 0 4px;
}

#tweets p:first-child {
    font-weight: 700;
}

#tweets a {
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: 10px 10px;
    width: 100%;
}

#tweets a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#load {
    background-color: #555;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 400 !important;
    margin: 40px auto !important;
    padding: 10px;
    text-align: center;
    max-width: 300px;
}

.tweet-img {
    box-sizing: border-box;
    float: left;
    width: 10%;
}

.tweet-img img {
    border-radius: 5px;
}

.tweet-content {
    box-sizing: border-box;
    float: right;
    width: 88%;
}