#knowledge {
    background: url(../../images/work.jpg) no-repeat fixed left center / cover rgba(0, 0, 0, 0);
    color: #fff;
    display: block;
    width: 100%;
}

#knowledge h1 {
    margin-bottom: 0;
}

#knowledge>div {
    background-color: rgba(167, 51, 51, 0.96);
}

#know-info {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
}

#know-info h2 {
    font-size: 18px;
    font-weight: 400;
    text-align: justify
}

#know-info li {
    margin: 20px 0;
    text-align: justify;
}